<h2>All Assignments</h2>
<% unless @assignments.empty? %>
  <table class="students">
    <tr>
      <th>&nbsp;</th>
      <th>Assignment</th>
      <th>Student</th>
      <th>Teacher</th>
      <th>Created</th>
    </tr>
    <%= will_paginate @assignments %>
    <% @assignments.each do |assignment| %>
      <tr>
        <td class="student_inactivate">
          <% if current_user.id == assignment.user_id %>
            <% if assignment.active == true %>
            <%= link_to "inactivate", assignment, 
                :method => :delete,
                :confirm => "Are you sure?",
                :title => assignment.assn %>
            <% end %>
          <% else %>
            <% if assignment.active == true %>
              Active
            <% end %>
          <% end %>
        </td>
        <td class="student_assn"><%= link_to assignment.assn, assignment_path(assignment) %></td>
        <td class="student_name"><%= assignment.student.name %></td>
        <td class="student_name"><%= assignment.user.name %></td>
        <td class="student_sessions"><%= assignment.created_at.strftime('%d %b %Y') %></td>
      </tr>
  <% end %>
  </table>
<% end %>
