<table>
<tr>
<td style="vertical-align: top">
<p><strong><h3><%= @assignment.student.name %></h3></strong><br />
<strong>Assignment:</strong> <%= @assignment.assn%><br />
<strong>Special Instructions:</strong><% if @assignment.instructions != "" %><%= @assignment.instructions %><% else %> None<% end %><br />
</p>
<p><strong>Teacher:</strong> <%= @assignment.user.name %><br />
<strong>Created:</strong> <%= time_ago_in_words(@assignment.created_at)%> ago on <%= @assignment.updated_at.strftime('%d %b %Y') %></p>
<p>
  This assignment 
    <% if @assignment.active == true %>
       is active.
    <% else %>
      was inactivated <%= time_ago_in_words(@assignment.updated_at) %> ago on <%= @assignment.updated_at.strftime('%d %b %Y') %>.
    <% end %>
</p>

<% if current_user.id == @assignment.user_id && @assignment.active == true %>
<p>
<%= link_to "Inactivate", @assignment, 
      :method => :delete,
      :confirm => "Are you sure you want to deactivate this assignment?",
      :title => @assignment.assn %> this assignment when it is complete.
</p>
</td>
<td><%= render 'shared/assn_form'%></td>
<% else %>
</td>
<% end %>
</tr></table>

