<table>
<tr>
<td style="vertical-align: top">
<strong><%= @assignment.student.name %></strong><br />
<strong>Assignment:</strong> <%= @assignment.assn%><br />
<strong>Teacher:</strong> <%= @assignment.user.name %><br />
<strong>Created:</strong> <%= time_ago_in_words(@assignment.created_at)%> ago
<% if current_user.id == @assignment.user_id %>
<br />
You can <%= link_to "Inactivate", @assignment, 
      :method => :delete,
      :confirm => "Are you sure you want to deactivate this assignment?",
      :title => @assignment.assn %> this assignment when it is complete.
</td>
<td><%= render 'shared/assn_form'%></td>
<% else %>
</td>
<% end %>
</tr></table>

