<h2>All Students</h2>
<table>
  <tr>
    <td style="vertical-align: top">
    </td>
    <td>
      <%= render 'shared/student_form'%>
    </td>
  </tr>
</table>
        <%= form_tag students_path, :method => 'get', :id => "student_search" do %>
        <p>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", :name=> nil %>
        </p>
      <% end %>

<div id="students"><%= render 'students' %></div>
