<h3>
  Attendance record for <%= link_to @attendance.section.downcase, attendance_path(@attendance) %>
</h3>

<p>
  Created <%= @attendance.created_at.strftime('%d %b %Y') %> by <%= @attendance.user.name %>
</p>

<% if @assignment_array.empty? %>
  <p>No missing students in this attendance record</p>
<% else %>
  <p>The following students did not show up to study hall:
  <ul>
  <% @assignment_array.each do |assignment| %>
    <li><%= assignment.student.name %> was supposed to complete: "<%= assignment.assn %>" for <%= assignment.user.name %></li>
  <% end %>
  </ul></p>
<% end %>
    
