<h3>Edit Your Information</h3>
<%= form_for @user do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirmation" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
	<div class="button">
		<%= f.label :admin %>
			<% if current_user.admin? %>	
				<%= f.check_box :admin %>
			<% else %>
				<%= f.check_box :admin, :disabled => true %>
			<% end %>
			<br><br>
	</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
