<% if current_user == nil %>
<h2>Sign up</h2>
<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br /> 
    <%= f.text_field :email %>
  </div>  
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirmation" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :secretcode, "Secret Code - Ask someone if you don't know..."%><br />
    <%= f.password_field :secretcode %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<% else %>
<p>
Please <%= link_to "sign out", signout_path %> first.</p>
<% end %>
