<table class="profile" summary="Profile Information">
	<tr>
		<td class="main">
      <h1>
	      <%= @user.name %>
      </h1>
    </td>
    <td class="sidebar round">
      <%= link_to "Show All Students", user_path(@user) %><br/>
      <%= link_to "Add a student", root_path %>
    </td>
  </tr>
  <% unless @user.students.empty? %>
    <table class="students">
    <tr>
      <td class="student_name">
        <strong>Student</strong>
      </td>
      <td class="student_assn">
        <strong>Assignment</strong>
      </td>
    </tr>
      <%= render @students %>
    </table>
     <%= will_paginate @students %>
  <% end %>
</table>  

