<%= form_for @assignment do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div>
    <%= f.hidden_field :student_id, :value => @student.id %>
    <%= f.hidden_field :active, :value => 1 %>
  </div>
  
  <div class="field" id="focus_field">
    <%= f.label "Assignment" %><br />
    <%= f.text_field :assn, :size => 24 %>
  </div>

  <div class="field">
    <%= f.label "Special instructions (optional)"%><br/>
    <%= f.text_field :instructions, :size => 24 %>
  </div>
  <strong>Study Hall Sessions</strong>
  <table class="box_table">
       <th>
        <td>&nbsp;</td>
        <td style="font-size: 85%">Mon</td>
        <td style="font-size: 85%">Tues</td>
        <td style="font-size: 85%">Wed</td>
        <td style="font-size: 85%">Thurs</td>
        <td style="font-size: 85%">Fri</td>
      </th>
      <tr>
        <td>Lunch:</td>
        <td><%= f.check_box :mlunch %></td>
        <td><%= f.check_box :tlunch %></td>
        <td><%= f.check_box :wlunch %></td>
        <td><%= f.check_box :rlunch %></td>
        <td><%= f.check_box :flunch %></td>
      </tr>
      <tr>
        <td>After:</td>
        <td><%= f.check_box :mafter %></td>
        <td><%= f.check_box :tafter %></td>
        <td><%= f.check_box :wafter %></td>
        <td><%= f.check_box :rafter %></td>
        <td><%= f.check_box :fafter %></td>
      </tr>
    </table>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
