<%= form_for @student do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label "Student name" %><br />
    <%= f.text_field :name %>
    <%= f.submit "Submit" %>
  </div>
<% end %>
