<%= form_for @student do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :size => 32 %>
	</div>
  <div class="field">
    <%= f.label :grade %><br />
    <%= f.text_field :grade, :size => 7 %>
	</div>
	<div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
