<h3>Attendance</h3>
<%= render 'shared/attendance_form'%>
<hr />

<% if @attendance_list.any? %>
  <h3><%= @session_in_words %></h3>
  <table class="students">
    <tr>
      <th>Absent?</th>
      <th>Student</th>
      <th>Teacher</th>
      <th>Assignment</th>
    </tr>
    <%= form_tag('/attendances') do %>
      <%= hidden_field(:user_id, :value => current_user.id )%>
      <%= hidden_field(:section, :value => @session_in_words)%>
      <% @attendance_list.each do |assignment| %>
        <tr>
          <td class="student_inactivate"><%= check_box_tag('missingstudents[]', assignment.id) %></td>
          <td class="student_name"><%= assignment.student.name %></td>
          <td class="student_name"><%= assignment.user.name %></td>
          <td class="student_assn"><%= assignment.assn %></td>
        </tr>
      <% end %>
      <%= submit_tag("Send Attendance") %>
    <% end %>
  </table>
<% else %>
<h3>No students for <%= @session_in_words %></h3>
<% end %>
