<% if signed_in? %>

  <table class="front" summary="For signed-in users">
    <tr>
      <td style="vertical-align: top">
        <h3 class="student">Assign Study Hall</h3>
        <%= render 'shared/student_form' %>
      </td>
      <td style="vertical-align: top">
       <!--- <div>
          <%= render 'shared/attendance_form' %>
        </div> --> 
        <div>
          <% if @feed_items.any? %>
          <h3 class="student">Current Study Hall Participants</h3>
          <%= render 'shared/attendance_form' %>
          <%= render 'shared/feed' %>
          <% else %>
          <h3 class="student">No Participants
          <%= render 'shared/attendance_form' %>
          <% end %>
        </div>
      </td>
    </tr>
  </table>
<% else %>
  <h1>Academia Cotopaxi Study Hall Manager</h1> 
  <%= link_to "Sign up", signup_path, :class => "signup_button round" %>
<% end %>
