<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
		<%= csrf_meta_tag %>
		<%= render 'layouts/stylesheets' %>
    <%= javascript_include_tag :defaults %>
  </head>
  <body>
  	<div class="container">
  	  <div id="header">
			<%= render 'layouts/header' %>
			</div>
			
      <section class="round">
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, :class => "flash #{key}" )%>
        <% end %>
        <%= yield %>
  		</section>

  		<%= render 'layouts/footer' %>
			<% if Rails.env.development? %>
        <% if current_user.nil?%>
          No Session Data
        <% else %>
          <%= current_user.name %> - Current User
        <% end %>
        <%= debug(params) %>
      <% end %>
  	</div>
  </body>
 </html>
